.header-wrapper {
    width: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
justify-content: center;   
}
a {
    padding: 5px;
    width: 80px;
    }
    
    a:hover {   
    border-bottom: 3px solid #6841DA ;
    cursor: pointer;
    font-weight: bold;
    }

