.li-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 90%;
    border: 1px solid rgb(77, 76, 76);
    padding: 10px;
    color: inherit;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px
}

.li-wrapper:hover{
  border: 1px solid #6841DA;
}
